.card-img-top{max-width:200px ;
              align-self: center;
}
.custom-card{
    border:0;
    z-index: 1;
    padding: 20px;
    box-shadow: inset 0px 0px 4px 1px #a1a0a087;
    
    ;}
    


    .section-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: center;
        width:200px ;
       border-bottom: 2px solid rgba(231, 13, 13, 0.493);
        padding-bottom:5px ;
        border-radius: 5px;
    }
    .section-title p{
        font-size: 20px;
        color: rgba(5, 0, 0, 0.548);
        
        

    }
    /*  .section-title p::after  {

        content: "";
        border-bottom: 1px solid red;
        display: block;
        padding-top: 6px;
    } */
   