.custom-table-info{
    width: calc(100% - 100px) !important ;
    margin: 60px 30px;
}


.tab-info-specials > div {
justify-content: center;
display: flex;
align-items: center;
} 

.tab-info-specials  div > div{
    line-height: 50px;
    
}

.tab-info-specials  div >img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}








.product-review .product-review-card  .media-header{

    
}